/*
 * Plugin Name: Advanced Sidebox for MyBB 1.6.x
 * Copyright 2014 WildcardSearch
 * http://www.rantcentralforums.com
 *
 * this file contains style information for the ACP pages
 */

/*
 * footer menu
 */
.asb_label {
	background: #EBF3FF;
	color: #333;
	font-weight: bold;
	width: 98%;
	margin: auto auto;
	padding: 15px 5px;
	border: 1px solid #85B1EE;
	text-align: center;
	left: 2px;
}

.asb_label a:hover,
a:active {
	color: #333;
}

.asb_label img {
	margin-bottom: -3px;
}

/*
 * main drag and drop interface
 */
div#droppable_container {
	width: 100%;
	background: #85B1EE;
}

div.draggable {
	z-index: 50;
}

.box_type,
.box_type a {
	color: #f4f4f4;
}

.box_type {
	width: 93%;
	cursor: move;
	background: #0451a6;
	border: 2px outset #0451a6;
	text-align: center;
	line-height: 15px;
	font-weight: bold;
	padding: 5px;
	text-shadow: 3px 3px 3px #070772;
}

.custom_type,
.custom_type a {
	color: #451869;
}

.custom_type {
	width: 93%;
	cursor: move;
	background: #dce171;
	border: 2px outset #dce171;
	text-align: center;
	line-height: 15px;
	font-weight: bold;
	padding: 5px;
	text-shadow: 3px 3px 3px #5a642f;
}

.sidebox {
	width: 96%;
	cursor: move;
	border: 2px outset #489544;
	text-align: center;
	line-height: 25px;
	background: #489544;
	color: #e3e6fd;
	font-weight: bold;
	padding: 5px;
	text-shadow: 3px 3px 3px #285326;
	position: relative;
}

.column {
	background: #f4f4f4;
	border: 3px solid #8b8b8b;
}

.column.hover {
	border: 3px dashed #333;
}

.trashcan {
	width: 99%;
	background: #f4f4f4;
	min-height: 80px;
}

.forum_column {
	background: #f4f4f4;
	width: 225px;
	min-height: 300px;
}

#addon_menu {
	width: 160px;
	height: 100%;
	border: 3px solid #8b8b8b;
	background: #f4f4f4;
	position: relative;
	min-height: 80px;
}

#custom_menu {
	width: 160px;
	height: 100%;
	border: 3px solid #8b8b8b;
	background: #f4f4f4;
	position: relative;
}

.column_head {
	background: #4096ff;
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
	font-familiy: Arial;
	text-align: center;
	text-shadow: 2px 2px 2px #0053b9;
}

.back_drop {
	text-align: center;
	table-layout: fixed;
	word-wrap: break-word;
}

/* TOOL TIPS */

.tooltip {
	border-bottom: 1px dotted #000000;
	color: #000000;
	outline: none;
	cursor: help;
	text-decoration: none;
	position: relative;
}

.tooltip span.info {
	margin-left: -999em;
	position: absolute;
}

.tooltip:hover span {
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute;
	top: 1.5em;
	left: -235px;
	margin-left: 0;
	width: 235px;
}

.classic {
	padding: 0.8em 1em;
}

.custom {
	padding: 0.5em 0.8em 0.8em 2em;
	z-index: 99;
}

* html a:hover {
	background: transparent;
}

.classic {
	background: #FFFFAA;
	border: 1px solid #FFAD33;
}

.info {
	background: #D6E8FF;
	border: 1px solid #2BB0D7;
}

.vis_info {
	background: #D6E8FF;
}

.info_icon {
	position: relative;
	float: left;
	padding: 4px;
}

.del_icon {
	position: relative;
	float: right;
	padding: 4px;
}

/* VISIBILITY TABLE */

.box_info {
	background: #85B1EE;
	color: #333;
	border: 4px solid #444444;
}

box_info td {
	width: 10px;
	height: 10px;
}

.script_header {
	background: #4096ff;
	color: #000;

	height: 10px;
	width: 60px;
}

.group_header {
	background: #4096ff;
	color: #000;
}

td.info_cell {
	height: 10px;
	width: 10px;
}

th.script_header {
	color: #000;
	height: 10px;
}

td.on {
	background: #000959;
}

td.off {
	background: #f4f4f4;
}

.filter_link {
	border: 2px solid #85B1EE;
	color: #000;
	padding: 5px;
	width: 8%;
	text-align: center;
}

.inactive {
	background: #9DC2F2;
}

.active	{
	background: #F2F2F2;
}

.filter_link:hover,
.filter_link:hover a	{
	background: #02426c;
	color: #F2F2F2;
	text-decoration: none;
	cursor: pointer;
}

#link_bank {
	width: 100%;
	border-collapse: collapse;
}
